body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(tes.png) no-repeat center center/cover;
    height: 100vh;
}

.container {
    background: rgb(255, 255, 255);
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

p {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
